.text {
  top: 10%;
  left: 8%;
}


.web {
  width: 40%;
  display: none;
}

.mobile {
  display: block;
  z-index: 3;
  width: 80%;
}

.mobile-bg {
  display: block;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity:0.6;
  background-color:rgb(32, 31, 31);
}


@media only screen and (min-width: 1100px) {
  .web {
    display: block
  }

  .mobile {
    display: none;
  }

  .mobile-bg {
    display: none;
  }
}