

.mainvideo {
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: -8px;
}

.second_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.separator {
    margin-bottom: 10px;
    height: 2px;
    width: 100%;
}

.maintext {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    color: white;
    visibility: hidden;
}

@media only screen and (min-width: 300px) {
    .mainvideo {
        z-index: -1;
    }
  }

@media only screen and (min-width: 500px) {

    .second_block {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .separator {
        height: 200px;
        width: 2px;
        margin: 20px;
    }

    .second_block_b {
        width: 55%;
        text-align: right;
    }

    .second_block_a {
        width: 35%;
    }
  }


@media only screen and (max-width: 1099px) and (min-width: 500px) {
    .maintext {
        visibility: visible;
    }
  }

  
@media only screen and (min-width: 1100px) {
    .maintext {
        visibility: visible;
        font-size: 6vh;
    }
  }