.cloudcontainer{
    height: 50vh;
    overflow: hidden;
}

.logo{
    width: 30%;
    height: auto;
}

.cloud{
    width: 100%;
    height:auto;
    opacity: 1;
}

.text{
    opacity: 60%;
}


.cloud[data-scroll] {
    transition: all 0.5s ease-in;
    transition-delay: 0.1s;
}
.cloud[data-scroll="in"] {
    opacity:1;
    transform: scale(2.5)
    
}
.cloud[data-scroll="out"] {
    opacity: 0;
}

@media only screen and (max-width: 500px) {
    
    .logo{
        width: 60%;
        height: auto;
    }

    .cloud{
        width: 150%;
    }
  }

