.line {
    height: 1px;
}

.container {
    width: 100%;
}

.container:hover {
    background-color: white;
}

.container:hover .name {
    color: #343a40;
}

.picture {
    width: 220px;
    height: auto;
}


@media only screen and (min-width: 768px) {

    .picture {
        width: 130px;
        height: auto;
    }

    .container {
        width: 240px
    }
    
}

@media only screen and (min-width: 992px) {
    .picture {
        width: 200px;
        height: auto;
    }

    .container {
        width: 270px
    }
    
}
  