
.right {
    flex-direction: column;
}

.left {
    flex-direction: column
}


.col {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-sm {
    flex: 2;
    flex-direction: row;
}


.col-lg {
    flex: 3;
    flex-direction: column;
}


.subtitle {
    flex: 2;
    padding: 0 10px;
}

.pic {
    height: auto;
}

.pic-lg {
    width: 100%;
    flex: 5;
}


.pic-sm {
    width: 50%;
}

.container {
    position: relative;
}

.info-container {
    position: static;
}

.info-content {
    width: 100%;
}

.information {
    transition: .5s ease;
    opacity: 0;
    text-align: center;
    width: 110%;
    height: 110%;
}


.info-container:hover .information{
    opacity: 1
}


@media only screen and (min-width: 450px) {

    .information {
        width: calc(100% - 20px);
        height: 100%;
    }

    .info-content {
        width: 75%;
    }
    
    .col-sm {
        display: flex;
        flex-direction: column;
    }

    .right {
        flex-direction: row-reverse;
    }

    .left {
        flex-direction: row
    }

    
    .pic {
        padding: 0 10px;
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 875px) {
    .info-container {
        position: relative;
    }

    .container {
        position: static;
    }

    
}