.header {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    background-color:#343a40;
    box-sizing: border-box;
}

img {
    height: 40px
}

.circle {
    height: 44px;
    width: 44px;
    border-radius: 22px;
    background-color: orange;
}