/*** SIZING ***/

* {
    margin: 0;
    padding: 0;
    }

html, body, #root, .App {
    height: 100%
}

.App {
    display: flex; 
    flex-direction: column;
}



/*** TEXT ***/

.montserrat-regular {
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
}

.montserrat-semi-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
}

.montserrat-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
}

.new-line {
    white-space: pre-line;
}

.centered-text {
    text-align: center;
    overflow-wrap: normal;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*** COLORS ***/

.dark {
    color: #343a40;
}

.off-white {
    color: rgba(252,252,252,0.75)
}

.white {
    color: #fff;
}

.orange {
    color: #fcb03a
}

.purple {
    color: #4b2b70;
}

.bg-orange {
    background-color: #fcb03a;
}

.bg-purple-translucent {
    background-color: #4b2b70bb;
}

.bg-purple {
    background-color: #2c0657
}

.bg {
    background-color: #343a40;
}


.active a{
    color: #fcb03a !important;
}



@media only screen and (max-width: 499px) {
    .md {
        display: none;
    }
}


/*** POSITIONING ****/


.bg {
    width: 100%;
    height: auto;
    z-index: -1;
    object-fit: cover;
}


@media only screen and (max-width: 899px) {

    .bg-resize-sm {
        height: 350px;
    }
    
    .bg-resize-lg {
        height: 680px;
    }
}



.over-bg {
    position: absolute;
}


/** FONT SIZES **/
.text-xs {
    font-size: calc(1rem + 1vw) 
}

.text-sm {
    font-size: 0.8rem
}

.text-lg {
    font-size: calc(1rem + 0.5vw) 
}

.text-xl {
    font-size: calc(1rem + 1vw) 
}

.text-xxl {
    font-size: 6vw
}

.text-xxxl {
    font-size: 7vw
}

.text-xxxxl {
    font-size: 3.5rem
}


@media only screen and (min-width: 500px) {

    
    .text-xxl {
        font-size: 3vw
    }

    .text-xxxl {
        font-size: 4vw
    }

    .text-xxxxl {
        font-size: 6rem
    }
    
  }
