/*** SIZING ***/

body {
    margin: 0
}

/*** TEXT ***/

.montserrat_regular {
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
}

.montserrat_semi_bold {
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
}

.montserrat_bold {
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
}

.new_line {
    white-space: pre-line;
}

.centered_text {
    text-align: center;
    overflow-wrap: normal;
}


/*** COLORS ***/

.dark {
    color: #343a40;
}

.off_white {
    color: rgba(252,252,252,0.75)
}

.white {
    color: #fff;
}

.orange {
    color: #fcb03a
}

.bg_orange {
    background-color: #fcb03a;
}

.bg_purple {
    background-color: #4b2b70;
}

.active {
    color: #fcb03a;
}