// Override default variables before the import
$primary: #4b2b70;
$secondary: #fcb03a;
$dark: #343a40;
$navbar-light-brand-color: rgba(252,252,252,0.75);


// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';


a {
    color: white;
    padding-top: 0px;
}

a:hover {
    color: #fcb03a;
}

a.active{
    color: #fcb03a !important;
}

@media only screen and (max-width: 767px) {
    a {
        padding-top: 10px;
    }
}

.carousel-indicators {
    margin-left: 0;
    margin-right: 0;
    bottom: -50px;
}


.carousel-indicators li { 
    /* Over-ride carousel indicator*/
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0px 8px;
    background-color:#fbb039;
}


#committee-carousel a {
    top: -200px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 80px;
    height: 80px;
}
