// Override default variables before the import
$primary: #4b2b70;
$secondary: #fcb03a;
$dark: #343a40;
$navbar-light-brand-color: rgba(252,252,252,0.75);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

a {
    color: white
}

a:hover {
    color: #fcb03a;
}

.carousel-indicators {
    margin-left: 0;
    margin-right: 0;
    bottom: -50px;
}


.carousel-indicators li { 
    /* Over-ride carousel indicator*/
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background-color:#fbb039;
}

#committee_carousel a {
    top: -200px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 80px;
    height: 80px;
}
